/* Reset some default styles for a clean slate */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Monospace", sans-serif;
    background-color: #fff;
}

header {
    background-color: transparent;
    color: #FFF;
    padding: 0 0;
    margin: 130px 500px 0 500px;
    /*background-image: linear-gradient(to bottom, #90d8c0, transparent);*/
    background-size: cover;
    background-position: center;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: .8em;
}

main {
    max-width: 800px;
    margin: 20px auto;
    margin-left: 350px;
    padding: 20px;
    background-color: #fff;
}

h1 {
    margin-bottom: 10px;
}

p {
    color: #333; /* Dark grey for heading text */
}

.hero {
    text-align: center;
    margin-bottom: 40px;
}

.hero h1 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333; /* Dark grey for heading text */
}

.hero p {
    font-size: 18px;
    color: #555; /* Medium grey for regular text */
}

footer {
    text-align: center;
    background-color: #666;
    color: #fff;
    padding: 10px 0;
}

/* New color palette */
header {
}

nav ul li a {
    color: #333; /* Dark grey for navigation links */
    background-color: #90d8c0;
}

main {
    background-color: #fff; /* White background for content */
}

/* Style the anchor tag within the li element */
nav ul li a {
    text-decoration: none;
    color: #333; /* Dark grey for navigation links */
    display: inline-block; /* Ensure the anchor tag takes up the full width of the li */
    padding: 2px 5px; /* Adjust padding for spacing and button size */
    margin: 0 -13px;
    border-bottom: 2px solid transparent; /* Transparent border initially */
    position: relative; /* Create a stacking context */
}

/* Apply hover effect to the bottom border of the anchor tag */
nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px; /* Height of the white bar at the bottom */
    background-color: #fff; /* White bar color on hover */
    transform: scaleX(0); /* Initially, set the scale to 0 for no visible bar */
    transform-origin: right; /* Scale from the right side */
}

/* Apply hover effect to the anchor tag */
nav ul li a:hover::after {
    transform: scaleX(1); /* Scale the white bar to full width on hover */
}

